<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BitBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <BitBot.Properties.Settings>
            <setting name="cbMinTimeReload" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="cbAutoReloadTime" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="cbAutoReloadMessages" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="cbMessageTrigger" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbTimeTrigger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbAPIID" serializeAs="String">
                <value />
            </setting>
            <setting name="tbAPISecret" serializeAs="String">
                <value />
            </setting>
            <setting name="tbAPIPassphrase" serializeAs="String">
                <value />
            </setting>
        </BitBot.Properties.Settings>
    </userSettings>
</configuration>
